body{
    background-color: #ffede0;
}

.auth{
    width: max-content;
    margin: 0 auto;
}

.auth input{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 10px;
}

.auth input:last-child{
    display: block;
}

a{
    display: block;
    text-align: center;
    margin-top: 20px;
}