/* MEDIA
===============================================*/

/* max-width: 600px */
@media (max-width: 600px){
    body{
        font-size: 18px !important;
    }

    .header_inner div{
        font-size: 23px;
    }

    article{
        margin: 20px;
    }

    input, textarea, select{
        font-size: 16px !important;
    }

    .img {
        max-width: 550px;
        max-height: 450px;
        margin-bottom: 15px;
    }
}

/* max-width: 450px */
@media (max-width: 450px){
    body{
        font-size: 14px !important;
    }

    .nav a{
        display: none;
    }

    .burger{
        display: block;
    }

    article{
        margin: 10px !important;
    }

    .img {
        max-width: 500px;
        max-height: 400px;
        margin-bottom: 15px;
    }

    input, textarea, select{
        font-size: 12px !important;
    }
}

/* max-width: 370px */
@media (max-width: 370px){
    body{
        font-size: 10px !important;
    }

    .header_inner div{
        font-size: 15px;
    }

    article{
        margin: 0 !important;
    }
}