.users_inner{
    display: flex;
}

table{
    width: 100%;
}

table tr td span{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

table tr td{
    font-family: 'Neucha', cursive;
}

input{
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

select{
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

